<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css") }}" />
    <link rel="icon" href="{{ url_for("static", filename="logo_dark.png") }}"/>
    <title>{{ title }} - AsianBot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Primary Meta Tags -->
    <meta name="title" content="AsianBot - Get an A+ ">
    <meta name="description" content="Get a virtual Asian Parent that forces you to do homework!">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/auth0/jwt-decode/build/jwt-decode.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>
<body>
    <nav id="navbar" class="center">
        <a href="/" class="link">
            <div class="logo">
                <img src="{{ url_for("static", filename="logo_dark.png") }}">
                <span class="bold">AsianBot</span>
            </div>
        </a>

        <div id="navbar__links">
            {% if data %}
                <div id="navbar__username_wrapper">
                    <a id="navbar__username" class="link">
                        {{ data['name'] }} <i class="fa-solid fa-caret-down"></i>
                    </a>
                    <div id="dropdown">
                        <a href={{ "/teacher" if data["teach"] else "/student" }} class="link"><i class="fa-solid fa-chart-line"></i> Dashboard</a>
                        <a href="javascript:logout()" id="logout" class="link"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </div>
                </div>
            {% else %}
            {% endif %}
        </div>
    </nav>
    <div id="content" class="center">{% block content %}{% endblock %}</div>
    <footer id="footer" class="center">
        {% block footer %}
        &copy; Copyright 2023 by <a href="https://actiniumn404.github.io/" target="_blank">Actiniumn404</a>.
        {% endblock %}
    </footer>

    <script src="{{ url_for("static", filename="js/base.js") }}" defer></script>
</body>
</html>