{% extends "base.html" %}
{% block content %}
    <h1>My Classes</h1>
    <!--<button id="createclass">Create a Class</button>-->
    <div id="classes">
        {% for classroom in classes %}
            <div class="class" onclick="location.pathname = '/class/{{ classroom }}'">
                <b>{{ classes[classroom]['name'] }}</b>
                <span>{{ classes[classroom]["description"] }}</span>
                <span class="footer">ID: {{ classroom }}</span>
            </div>
        {% endfor %}
    </div>

    <script src="{{ url_for("static", filename="js/teacher.js") }}"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/teacher.css") }}">
{% endblock %}